$red : rgb(186, 0, 0);
$green: rgb(0, 160, 8);
$blue: rgb(0, 14, 163);
$black-bg: rgb(33, 31, 31);
$black-hd: black;
$yellow-hd: #fe9800;
$grey-btn-bg: #626262;

.right-panel-container{
    display: flex;
    flex-direction: row;
    
}
.width-control-container{
    display: flex;
    align-items: center;
    background-color: $black-bg;
    padding-right: 10px;
    width: 100px;
    justify-content: flex-end;
    &:hover{
        .width-control{
            display: block;
        }
    }
    .width-control{
        display: none;
        cursor: pointer;
        background-color: $grey-btn-bg;
        width: 8px;
        height: 30px;
        border-radius: 20px;
        filter: opacity(20%);
        &:hover{
            filter: opacity(100%);
        }
        
    }
}
.right-panel-button-container {
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &.right-collapse {
        width: 8px;

        &>.mode-container>* {
            display: none;
        }
    }

    transition: all 0.6s ease-in-out;
}
.mode-container{
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    word-wrap: break-word;
    &:hover{
        cursor: pointer;
    }
    transition: flex-grow 0.2s ease-in-out;
}

@mixin lighten($color){
    background-color: adjust-color($color: $color , $hue: 0, $saturation: 0%, $lightness: 10%, $alpha: 1.0);
    flex-grow: 1.2;
}
.work{
    background-color: $red;
    &:hover{
        @include lighten($red);
    }
    flex-grow: 1;
}
.long-break{
    background: $green;
    flex-grow: 1;
    &:hover {
            @include lighten($green);
        }
}

.short-break{
    background-color: $blue;
    flex-grow: 1;
    &:hover {
            @include lighten($blue);
        }
}
